* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

.vertical-center {
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.card-container {
  height: calc(100vh - 75px);
}

.action-list {
  right: 0;
  top: 0;
}

.action-list__container {
  height: calc(100vh - 56px);
  overflow-y: scroll;
}

textarea {
  resize: none;
}

#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#message p {
    padding: 10px 35px;

}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}