* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../img/bg.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vertical-center {
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.card-container {
  min-height: calc(100vh - 75px);
}

.action-list {
  right: 0;
  top: 0;
}

.action-list__container {
  height: calc(100vh - 56px);
  overflow-y: scroll;
}

textarea {
  resize: none;
}

#message {
    display:none;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#message p {
  padding: 10px 35px;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

.ui-dialog {
  max-height: 700px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.show {
  display: block;
}

.single-comment {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  margin: 5px 0;
}

.single-comment__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 0.8em;
}
