<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <title>Project-Manager-600</title>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 pl-0 pr-0">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/home}">Project-Manager-600</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav w-100">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/my-tasks}">Moje</a>
            </li>
            <li class="nav-item">
              <form action="/logout" method="post">
                <button class="btn btn-dark">Wyloguj</button>
              </form>
            </li>
            <li class="nav-item ml-auto">
              <button
                class="btn btn-primary"
                type="button"
                data-toggle="collapse"
                data-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                Lista akcji
              </button>
              <button
                class="btn btn-primary"
                type="button"
                data-toggle="collapse"
                data-target="#addTask"
                aria-expanded="false"
                aria-controls="addTask"
              >
                Dodaj zadanie
              </button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="row position-relative">
    <th:block th:each="status, i : ${statuses}">
      <div class="col-lg-4 col-md-12">
        <div class="card card-container m-2">
          <div class="card-body p-0">
            <h3 class="text-center p-2" th:text="${status.getName()}"></h3>
            <hr class="m-0">
            <ul class="list-unstyled p-2">
              <li th:each="task : ${tasks.get(i.index)}" class="m-2">
                <div class="card">
                  <div class="card-header" th:text="${task.getName()}"></div>
                  <div class="card-body p-0">
                    <div class="card-content d-flex justify-content-between">
                      <div class="left-side p-3">
                        <div class="card-text">
                          <div>Termin na zakończenie zadania:</div>
                          <div>Od: <span th:text="${task.getStartDate()}"></span></div>
                          <div>Do: <span th:text="${task.getDeadlineDate()}"></span></div>
                        </div>
                        <div th:if="${task.getEndDate()}">Zakończono: <span th:text="${task.getEndDate()}"></span></div>
                        <button
                          class="btn btn-primary js--single-task mt-1"
                          data-toggle="modal"
                          data-target="#singleTask"
                          th:data-task-id="${task.getId()}"
                        >
                          Pokaż szczegóły zadania
                        </button>
                      </div>
                      <div class="right-side border-left pl-3 pr-3">
                        <p class="pt-2" th:text="${task.getAssignee().getUsername()}"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </th:block>
    <div class="col-lg-3 col-md-12 action-list position-absolute p-0">
      <div class="collapse m-0" id="collapseExample">
        <div class="card card-body action-list__container" id="log-list">
          <div class="card" th:each="log : ${logs}" style="white-space: pre-line">
            <div class="card-body">
              <span th:text="${log.content}"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- single task -->
  <div
    class="modal fade"
    id="singleTask"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addTask"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5
            class="modal-title"
            id="task-title"
          ></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-8">
              <div class="task-info d-flex flex-column">
                <div class="task-info__start-date">
                  <span class="font-weight-bold">Od: </span>
                  <span id="task-startDate" class="start-date"></span>
                </div>
                <div class="task-info__deadline-date">
                  <span class="font-weight-bold">Do: </span>
                  <span id="task-deadlineDate" class="deadline-date"></span>
                </div>
                <div class="task-info__assignee">
                  <span class="font-weight-bold">Wykonawca: </span>
                  <span id="task-assignee" class="assignee"></span>
                </div>
                <div class="task-info__description">
                  <span class="font-weight-bold">Opis:</span>
                  <span id="task-description" class="description"></span>
                </div>
                <div class="task-info__comments d-flex flex-column">
                  <hr/>
                  <p class="font-weight-bold">Dodaj Komentarz:</p>
                  <textarea
                    id="comment-content"
                    rows="5"
                    class="form-control w-100 p-1"
                  ></textarea>
                  <button id="task-add-comment" type="submit" class="btn btn-primary mt-1 ml-auto">
                    Dodaj
                  </button>
                </div>
                <div class="task-info__comments d-flex flex-column">
                  <hr/>
                  <p class="font-weight-bold">Komentarze:</p>
                  <div id="task-comments">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="buttons">
                <form th:action="@{/tasks/changeAssignee}" method="POST" class="mb-3">
                  <input type="hidden" class="task-id" name="id"/>
                  <input name="username" id="task-asignee" type="text" class="form-control mb-1" list="users" autocomplete="off"/>
                  <button class="btn btn-success mb-2">Zmień wykonawcę</button>
                </form>
                <form th:action="@{/tasks/changeStatus}" method="POST" class="mb-3">
                  <input type="hidden" class="task-id" name="id"/>
                  <span class="font-weight-bold">Data zakończenia (opcjonalnie): </span> <input type="date" name="date" class="form-control">
                  <select
                    name="status"
                    class="browser-default custom-select mb-1"
                    id="role"
                  >
                    <option
                      th:each="status : ${statuses}"
                      th:value="${status}"
                      th:text="${status.getName()}"
                    >
                    </option>
                  </select>
                  <button class="btn btn-success">Zmień status</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Zamknij
          </button>
          <button type="button" class="btn btn-primary">
            Zapisz zmiany
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- ./ single task -->

  <!-- add task -->
  <div
    class="modal fade"
    id="addTask"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addTask"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-lg modal-dialog-centered"
      role="document"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">
            Zadanie
          </h5>
          <button
            type="button"
            class="close js--close-addTask"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form th:action="@{/tasks/new}" th:object="${task}" method="POST">
          <div class="modal-body">
            <div class="row">
              <div class="col-5">
                <div class="task-info d-flex flex-column">
                  <div class="task-info__name form-group">
                    <label for="name" class="font-weight-bold">Nazwa: </label>
                    <input th:field="${task.name}" type="text" name="name" id="name" class="form-control">
                  </div>
                  <div class="task-info__start-date form-group">
                    <label for="start-date" class="font-weight-bold">Od: </label>
                    <input th:field="${task.startDate}" type="date" name="start-date" id="start-date" class="form-control">
                  </div>
                  <div class="task-info__end-date form-group">
                    <label for="end-date" class="font-weight-bold">Do: </label>
                    <input th:field="${task.deadlineDate}" type="date" name="end-date" id="end-date" class="form-control">
                  </div>
                  <div class="task-info__assignee form-group">
                    <label class="font-weight-bold">Wykonawca: </label>
                    <input th:field="${task.assignee.username}" type="text" name="asignee" id="asignee" class="form-control" list="users">
                    <datalist id="users">
                      <option
                        th:each="user : ${users}"
                        th:value="${user}"
                        th:text="${user}"
                      >
                    </datalist>
                  </div>
                  <div class="task-info__description form-group">
                    <label for="description" class="font-weight-bold">Opis:</label>
                    <textarea th:field="${task.description}" name="description" id="description" cols="30" rows="3" class="form-control"></textarea>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary js--close-addTask"
              data-dismiss="modal"
            >
              Zamknij
            </button>
            <button type="submit" class="btn btn-primary">
              Zapisz zmiany
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script th:src="@{/js/api.js}"></script>
</body>
</html>
