<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
 <div >
 <div class="modal-dialog modal-lg modal-dialog-centered" th:object="${task}">
 <div class="w-100" th:object="${task}">
<div class="modal-header">
  <h5
    th:text="${task.getName()}"
    class="modal-title"
    id="exampleModalCenterTitle"
  ></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-8">
      <div class="task-info d-flex flex-column">
        <div class="task-info__start-date">
          <span class="font-weight-bold">Od: </span>
          <span th:text="${task.getStartDate()}" class="start-date"></span>
        </div>
        <div class="task-info__end-date">
          <span class="font-weight-bold">Do: </span>
          <span th:text="${task.getDeadlineDate()}" class="end-date"></span>
        </div>
        <div class="task-info__assignee">
          <span class="font-weight-bold">Wykonawca: </span>
          <span
            th:text="${task.getAssignee().getUsername()}"
            class="assignee"
          ></span>
        </div>
        <div class="task-info__description">
          <span class="font-weight-bold">Opis:</span>
          <span th:text="${task.getDescription()}" class="description"></span>
        </div>
        <div class="task-info__comments d-flex flex-column">
          <hr/>
          <p class="font-weight-bold">Dodaj Komentarz:</p>
            <input id="comment-task-id" type="hidden" name="task.id" th:value="${task.id}"/>
            <textarea
              th:field="${comment.content}"
              id="comment-content"
              rows="5"
              class="form-control w-100 p-1"
            ></textarea>
            <button
              th:onclick="'postComment()'" type="submit" class="btn btn-primary mt-1 ml-auto">
              Dodaj
            </button>
        </div>
        <div class="task-info__comments d-flex flex-column">
          <hr/>
          <p class="font-weight-bold">Komentarze:</p>
          <div id="task-comments">
            <div th:each="comment : ${task.getComments()}">
              <span th:text="${comment.content}"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="buttons">
        <button class="btn btn-success mb-2">Zmień wykonawcę</button>
        <button class="btn btn-success">Zmień status</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary">
    Zamknij
  </button>
  <button type="button" class="btn btn-primary">
    Zapisz zmiany
  </button>
</div>
 </div>
 </div>
 </div>
</html>
